In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [2]:
path_to_db = 'telecomm_csi.db'
engine = create_engine(f'sqlite:///{path_to_db}', echo = False)

In [3]:
query = """
    SELECT u.user_id,
           u.lt_day AS lt_day,
           CASE
               WHEN u.lt_day < 365 THEN 'new'
               ELSE 'old'
           END AS is_new,
           u.age,
           CASE
               WHEN u.gender_segment = 0 THEN 'женщина'
               WHEN u.gender_segment = 1 THEN 'мужчина'
               ELSE 'без пола'
           END AS gender_segment,
           u.os_name,
           u.cpe_type_name,
           l.country,
           l.city,
           SUBSTR(ags.title, 4, 5) AS age_segment,
           SUBSTR(ts.title, 4, 8) AS traffic_segment,
           SUBSTR(ls.title, 4, 8) AS lifetime_segment,
           u.nps_score,
           CASE
               WHEN u.nps_score >= 9 THEN 'cторонники'
               WHEN u.nps_score <= 6 THEN 'критики'
               ELSE 'нейтралы'
           END AS nps_score_group
          
    FROM user AS u
    JOIN location AS l ON u.location_id=l.location_id
    JOIN age_segment AS ags ON u.age_gr_id=ags.age_gr_id
    JOIN traffic_segment AS ts ON u.tr_gr_id=ts.tr_gr_id
    JOIN lifetime_segment AS ls ON u.lt_gr_id=ls.lt_gr_id
    WHERE CAST(lt_day AS INTEGER) > 0;
   
"""
 
df = pd.read_sql(query, engine)
df.head()

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_score_group
0,A001A2,2320,old,45.0,мужчина,ANDROID,SMARTPHONE,Россия,Уфа,45-54,1-5,36+,10,cторонники
1,A001WF,2344,old,53.0,женщина,ANDROID,SMARTPHONE,Россия,Киров,45-54,1-5,36+,10,cторонники
2,A003Q7,467,old,57.0,женщина,ANDROID,SMARTPHONE,Россия,Москва,55-64,20-25,13-24,10,cторонники
3,A004TB,4190,old,44.0,мужчина,IOS,SMARTPHONE,Россия,РостовнаДону,35-44,0.1-1,36+,10,cторонники
4,A004XT,1163,old,24.0,женщина,ANDROID,SMARTPHONE,Россия,Рязань,16-24,5-10,36+,10,cторонники

In [4]:
df.to_csv('telecomm_csi_tableau.csv', index=False)

In [5]:
df.head(3)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_score_group
0,A001A2,2320,old,45.0,мужчина,ANDROID,SMARTPHONE,Россия,Уфа,45-54,1-5,36+,10,cторонники
1,A001WF,2344,old,53.0,женщина,ANDROID,SMARTPHONE,Россия,Киров,45-54,1-5,36+,10,cторонники
2,A003Q7,467,old,57.0,женщина,ANDROID,SMARTPHONE,Россия,Москва,55-64,20-25,13-24,10,cторонники

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502476 entries, 0 to 502475
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           502476 non-null  object
 1   lt_day            502476 non-null  int64
 2   is_new            502476 non-null  object
 3   age               501939 non-null  float64
 4   gender_segment    502476 non-null  object
 5   os_name           502476 non-null  object
 6   cpe_type_name     502476 non-null  object
 7   country           502476 non-null  object
 8   city              502476 non-null  object
 9   age_segment       502476 non-null  object
 10  traffic_segment   502476 non-null  object
 11  lifetime_segment  502476 non-null  object
 12  nps_score         502476 non-null  int64
 13  nps_score_group   502476 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 53.7+ MB

### Укажите ссылку на дашборд на сайте Tableau Public:

### Укажите ссылку на pdf-файл с презентацией: